// * {
//   all: unset;
// }

@import "/home/mamba/.cache/wal/colors.scss";

// .barwindow {
//   // all: unset;
//   background-color: transparent;
//   font: 11pt FiraCode Nerd Font;
//   color: $foreground;
// }

.module {
  // min-height: 1em;
  background-color: $background;
  border-radius: 0.5em;
  padding: 0.1em 0.4em 0.1em 0.4em;

  button {
    border-radius: 0.4em;
    min-height: 0em;
    min-width: 0em;
    margin: 0;
    // padding: 0;

    // background: transparent;
  }
}

.clientIcon,
.wifiIcon,
.audioIcon,
.bluetoothIcon,
.batteryIcon {
  font-size: 1.5em;
  // background-color: green;
}

.connected {
  color: $color4;
}

.menuBase {
  background-color: lighten($background, 3%);
  // border: 0.1em solid turquoise;
  // font: 11pt FiraCode Nerd Font;
  font: 11pt Inter;
  color: $foreground;
  padding: 0.2em;
  border-radius: 0.7em;

  arrow {
    color: $foreground;
    background-color: transparent;
  }
}

.trayMenu {
  @extend .menuBase;
  // padding-top: 1em;
  // margin-top: 1em;
}

.trayMenu menuitem {
  min-width: 7em;
  margin: 0.1em;

  border-radius: 0.4em;
  // border: 0.1em solid turquoise;
  border: 0.1em solid lighten($background, 6%);
  transition: 0.1s;

  &:hover {
    border: 0.1em solid $color12;
    background-color: lighten($background, 10%);
  }

  &:disabled {
    border: 0em;
    font-style: italic;
  }

  menu {
    @extend .menuBase;
  }
}

// .primeiromenu {
//   margin-top: 1em;
// }

.sysTray {
  font-size: 1.2em;
  margin-right: 0.4em;
}

.tag {
  transition: 0.1s;
  padding: 0.4em 0.6em 0.4em 0.6em;
}

.urgent {
  @extend .tag;
  color: $color1;
}
.selected {
  @extend .tag;
  color: $color4;
}
.occupied {
  @extend .tag;
  color: $color3;
}
.normal {
  @extend .tag;
  &:hover {
    color: $color2;
  }
}
.layoutIcon {
  @extend .normal;
}

.transparentWindow {
  background-color: transparentize(lighten($background, 3%), 0.1);
}

.appLauncher {
  @extend .transparentWindow;
  min-width: 40em;
  min-height: 30em;
  border-radius: 0.6em;

  .scroll {
    padding: 0.5em;
  }

  .header {
    border-radius: 0.6em;
    background-color: $background;
    padding: 0.5em;
    background-color: transparentize(lighten($background, 3%), 0.1);

    entry {
      all: unset;
      padding: 0.4em;
      border: 0.1em solid lighten($background, 6%);
      transition: 0.1s;
      border-radius: 0.5em;

      &:focus,
      &:selected {
        border: 0.1em solid $color12;
        background-color: lighten($background, 10%);
      }
    }

    image {
      background-color: $color12;
      border-radius: 0.6em;
      padding: 0.7em;
      color: $background;
    }
  }

  .app {
    margin: 0.1em;
    border-radius: 0.4em;
    background-color: transparent;
    border: 0.1em solid lighten($background, 6%);
    transition: 0.1s;
    padding: 0.4em;

    &:hover,
    &:selected,
    &:focus {
      border: 0.1em solid $color12;
      background-color: lighten($background, 10%);
    }

    .title {
      font-weight: bold;
    }

    .appIcon {
      font-size: 3em;
    }
  }
}

window {
  background-color: transparent;
  // font: 11pt FiraCode Nerd Font;
  font: 11pt Inter;
  color: $foreground;
}

.lockscreen {
  // background-color: $background;
  margin: 10em;
}

.avatar {
  font-size: 10em;
}

.basewindow {
  margin: 10px;
  // font: 11pt FiraCode Nerd Font;
  font: 11pt Inter;
  color: $foreground;
}

.scroll {
  .placeholder {
    font-style: italic;
  }
  scrollbar {
    background-color: transparent;

    contents {
      background-color: transparentize($background, 0.5);
      border-radius: 0.3em;

      slider {
        min-height: 3em;
      }
    }
  }
}

.notificationCenter {
  @extend .basewindow;
  @extend .transparentWindow;
  border-width: 0.1em;
  border-style: solid;
  border-color: lighten($background, 15%);
  border-radius: 0.5em;
  padding: 0.4em;
  min-width: 40em;
  min-height: 35em;

  .header {
    border-width: 0.1em;
    border-style: solid;
    border-color: lighten($color3, 15%);
    border-radius: 0.5em;
    padding: 0.5em;
  }

  .scroll {
    margin-top: 0.6em;
  }
}

.notification {
  .test {
    padding: 0.5em;
    background-color: lighten($background, 4%);
    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;
    border-color: lighten($background, 15%);
    margin-top: 0.4em;
  }
  .time {
    margin-right: 0.5em;
  }
  .progress {
    margin: 0.5em;
  }
}

.popupList {
  @extend .basewindow;
  min-width: 25em;
  .notification {
    .test {
      @extend .transparentWindow;
      .appIcon {
        font-size: 3.5em;
      }
    }
  }
}

.critical {
  border-color: red;
}

.first {
  .test {
    margin-top: 0em;
  }
  // margin-top: 0;
}

.actionButton {
  margin-left: 0.4em;
}

.firstH {
  margin-left: 0em;
}

.icon {
  padding: 0.4em;
  min-width: 4em;
  min-height: 4em;
  // .appIcon {
  //   font-size: 4em;
  // }
}

.img {
  background-clip: content-box;
  // min-width: 5em;
  // min-height: 5em;
  // padding: 0.4em;
  // background-
}

.layoutIcon {
  font: 13pt siji;
}

.dwlTags {
  button {
    @extend .layoutIcon;
  }
}

.archDash {
  color: #1793d1;
  font: 12pt Symbols Nerd Font;
  margin: 0px 14px 0px 14px;
}

.leftBar {
  margin: 3px 0px 0px 10px;
  min-height: 30px;
}

.rightBar {
  margin: 3px 10px 0px 0px;
  min-height: 30px;
  @extend .module;
}

.centerBar {
  margin: 3px 10px 0px 10px;
  min-height: 30px;
  @extend .module;
}

.clock {
  margin: 0;
}

.calendar {
  @extend .basewindow;
  @extend .transparentWindow;

  // min-height: 100px;
  // min-width: 100px;

  border: 0.1em solid lighten($background, 15%);

  border-radius: 0.5em;
  padding: 0.4em;
  min-width: 50em;
  min-height: 30em;

  .scroll {
    margin: 0;
    padding: 0;
  }

  .notification {
    // min-width: 30em;
    .test {
      margin-top: 0.4em;
      padding: 0.2em;

      .appIcon {
        font-size: 3em;
      }

      .close-button {
        padding: 0.2em;
      }

      .actionButton {
        padding: 0.2em;
      }
    }
  }
  .first {
    .test {
      margin-top: 0;
    }
  }

  .calendarBox {
    padding: 0.5em;
    background-color: lighten($background, 4%);
    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;
    border-color: lighten($background, 15%);
    // margin-top: 0.4em;

    .monthName {
      font-size: 1.4em;
      font-weight: bold;
    }

    calendar {
      background-color: transparent;
      border: 0 solid transparent;

      label {
        padding: 0.2em;
        border: 1px solid turquoise;
        border-radius: 50%;
      }

      label.today {
        color: green;
      }

      &:selected {
        background-color: transparentize($color9, 0.7);
        border-radius: 10px;
      }
    }
  }
}

.glow {
  text-shadow: 2px 2px 7px;
  font-family: "C059";
  color: transparentize($foreground, 0.5);
}

.backdrop {
  margin-top: 7em;

  .spacer1 {
    min-height: 2em;
  }

  .time {
    @extend .glow;
    font-weight: bold;
    font-size: 9em;
  }

  .date {
    @extend .glow;
    font-size: 2.5em;
  }

  .albumArt {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: green;

    min-height: 25em;

    border-radius: 10px;
  }

  .playerBox {
    padding: 1.5em;
    background-color: transparentize($background, 0.5);
    border-radius: 20px;
    font-size: 1.1em;

    .title {
      font-weight: bold;
    }

    .playerTime {
      // background-color: blue;
      // min-width: 30em;
      padding: 0.5em;
      .length {
        // color: green;
        background-color: purple;
      }
      .position {
        background-color: turquoise;
      }
      .progress {
        min-width: 10em;
        margin-left: 1em;
        margin-right: 1em;
        // background-color: red;
        // color: blue;
        // padding: 0.5em;
        // border-radius: 1em;
      }
    }

    .controls {
      font-size: 1.5em;
    }
  }
}

.userCenter {
  @extend .basewindow;
  // @extend .transparentWindow;

  // background-color: green;
  @extend .module;

  padding: 0.5em;

  // border: 2px solid red;

  // background-color: pink;

  .userImage {
    font-size: 4.5em;
  }

  .powerMenu {
    button {
      margin-top: 0.3em;
    }
  }

  .audioIcon,
  .backlightIcon {
    font-size: 1.5em;
    padding: 0 0.2em;
    -gtk-icon-shadow: 1px 1px $background;
  }

  scale {
    margin: 0.2em 0;
    padding: 0;
    min-width: 20em;

    highlight {
      color: turquoise;
      // padding-top: 0.8em;
      // padding-bottom: 0.8em;
      padding: 0.8em 0;
    }

    slider {
      all: unset;
    }
  }

  // .backlightBar {
  //   padding-top: 0em;
  // }

  .volumeInfo {
    margin-top: 0.3em;
    border-radius: 6px;
    background-color: lighten($background, 5);
    padding: 0.2em 0.4em;
    // padding-left: 0.3em;
    // padding-right: 0.3em;
  }

  .volumeButton {
    margin-left: 0.3em;
    color: lighten($foreground, 10);
  }

  .volumeList {
    // padding-bottom: 0.2em;
    // padding-top: 0.2em;
    .micBar {
      padding: 0;
    }

    separator {
      margin-top: 0.3em;
    }

    separator.first {
      margin-top: 0.2em;
    }

    separator.last {
      margin-bottom: 0.2em;
    }

    button {
      margin-top: 0.3em;
    }

    // .first {
    //   margin-top: 0;
    //   // color: green;
    //   // background-color: purple;
    // }
  }
}
