* {
  all: unset; }

.barwindow {
  background-color: transparent;
  font: 11pt FiraCode Nerd Font;
  color: #CDD6F4; }

.module {
  min-height: 25px;
  background-color: #1E1E2E;
  border-radius: 5px; }

.urgent {
  color: #F38BA8; }

.selected {
  color: #89B4FA; }

.occupied {
  color: #F9E2AF; }
