@use "sass:string";
@use "./base.scss" as *;

window.AppMenu {
  @extend .basewindow;

  min-width: 50rem;
  min-height: 40em;

  .placeholder {
    font-style: italic;
  }

  box.vertical {
    @extend .verticalSpacer;
  }

  box.horizontal {
    @extend .horizontalSpacer;
  }

  entry {
    margin-bottom: 1em;
    padding: 0.4em;
    border-radius: 0.5em;

    image {
      background-color: css("@accent_color");
      border-radius: 0.5em;
      padding: 0.5em;
      color: css("@window_bg_color");
    }
  }

  .app {
    box {
      image {
        -gtk-icon-size: 3rem;
      }
    }
  }

  .provider {
    button {
      @extend .horizontalSpacer;

      image {
        -gtk-icon-size: 2em;
      }
    }

    separator {
      // margin-left: 0.1rem;
      padding-top: 0.1rem;
      background-color: gtkalpha(css("@theme_fg_color"), 0.1);
    }

    .results {
      margin-left: 0.8rem;
    }
  }
}
