@use "sass:string";
@use "./base.scss" as *;

window.Calendar {
  @extend .basewindow;

  > box {
    @extend .horizontalSpacer;
    > * {
      @extend .verticalSpacer;
    }
  }

  .calendar {
    @extend .module;
    min-width: 25em;

    .month-name {
      font-size: 1.4em;
      font-weight: bold;
    }

    calendar {
      background-color: transparent;
      border: 0 solid transparent;
    }

    .week-days {
      font-weight: bolder;
      color: css("@accent_color");
    }

    grid {
      label.day-name {
        font-weight: bolder;
        color: css("@accent_color");
      }
    }
  }

  .events {
    @extend .module;
    @extend .verticalSpacer;

    .event {
      border-color: css("currentColor");
      border-left-width: 0.2em;
      border-left-style: solid;
      padding-left: 0.5em;
      background-color: css("alpha(currentColor, 0.05)");
      border-radius: 0.5em;

      label {
        color: css("@theme_fg_color");
      }

      .summary {
        font-weight: bolder;
      }
    }
  }

  .weather {
    @extend .verticalSpacer;
    @extend .module;
    padding: 0.8em;

    .main-icon {
      -gtk-icon-size: 3em;
      margin-right: 0em;
    }

    image {
      -gtk-icon-size: 1.5em;
      margin: 0em 0.3em;
    }

    .city-name {
      font-weight: bolder;
    }

    .temp {
      font-size: 2em;
      font-weight: bolder;
    }
  }

  // scrolledwindow {
  //   min-height: 30rem;
  // }

  .notification-center {
    @extend .verticalSpacer;
    > .header {
      @extend .module;
      @extend .horizontalSpacer;
    }
    box.vertical {
      @extend .verticalSpacer;
    }
  }
}
