@use "sass:string";
@use "./base.scss" as *;

window.Lockscreen {
  entry {
    min-width: 18rem;

    image {
      -gtk-icon-size: 1.5rem;
      background-color: css("@accent_bg_color");
      border-radius: 0.5rem;
      margin: 0.5rem 0rem;
    }
  }

  .info {
    font-style: italic;
  }

  image {
    -gtk-icon-size: 10rem;
  }

  label.user-name {
    font-weight: bolder;
    margin: 0.5rem;
    margin-bottom: 3rem;
  }

  button.auth {
    margin: 0.3rem;
    padding: 0.5rem 2rem;
  }
}
