@use "sass:string";
@use "./base.scss" as *;

window.Lockscreen {
  .unlock-page {
    entry {
      min-width: 18rem;

      image {
        -gtk-icon-size: 1.5rem;
        background-color: css("@accent_bg_color");
        border-radius: 0.5rem;
        margin: 0.5rem 0rem;
      }
    }

    .info {
      font-style: italic;
    }

    .user-image {
      -gtk-icon-size: 10rem;
    }

    label.user-name {
      font-weight: bolder;
      margin: 0.5rem;
      margin-bottom: 3rem;
    }

    button.auth {
      margin: 0.3rem;
      padding: 0.5rem 2rem;
    }
  }

  // button.time {
  //   all: unset;
  // }

  .preview-page {
    label.date {
      padding: 1rem;
      font-size: 1.8rem;
    }

    label.clock {
      font-family: "URW Bookman";
      font-weight: bolder;
      font-size: 9rem;
    }

    .notification-center {
      box.vertical {
        @extend .verticalSpacer;
      }
      .notification {
        min-width: 25em;
      }
    }
  }

  .mpris {
    margin: 0.4rem 0 0 0;
    @extend .module;

    box.horizontal {
      @extend .horizontalSpacer;
    }

    box.vertical:not(.labels) {
      @extend .verticalSpacer;
    }

    .cover-art {
      background-color: css("alpha(currentColor, 0.05)");
      border-radius: 0.6rem;
      -gtk-icon-size: 6rem;
    }

    .cava {
      /* color: css("@accent_color"); */
      min-height: 4rem;
      min-width: 3rem;
      margin: 1rem 1rem;
    }

    scale {
      /* padding: 0.2rem 0rem; */

      trough {
        highlight {
          padding: 0.3rem;
          background-color: css("@theme_fg_color");
        }
      }

      slider {
        all: unset;
      }
    }
  }
}
