@use "sass:string";
@use "./base.scss" as *;

.popups {
  background-color: transparent;

  .notification {
    margin: 0.4em 0em 0em 0em;
    background-color: css("@window_bg_color");
    min-width: 25em;
  }
}
