@use "sass:string";
@use "./base.scss" as *;

window.notification-popups {
  padding-top: 0.4rem;

  .notification-center {
    background-color: transparent;

    box.vertical {
      @extend .verticalSpacer;
    }
    .notification {
      background-color: css("@window_bg_color");
      min-width: 28rem;
      border: 0.1em solid css("@headerbar_border_color");
    }
  }
}
