@use "sass:string";
@use "./base.scss" as *;

window.Polkit {
  @extend .dialog;

  .user-image {
    -gtk-icon-size: 6rem;
  }

  .user-name {
    margin: 0.5em;
  }

  .message {
    margin-bottom: 1em;
  }

  .error {
    margin-top: 0.5em;
  }

  entry {
    margin: 0em 1em;
  }
}
