@use "sass:string";
@use "./base.scss" as *;

window.Polkit {
  @extend .dialog;

  .user-image {
    -gtk-icon-size: 6rem;
  }

  .user-name {
    margin: 0.5em;
  }

  .error {
    margin-top: 0.5em;
  }

  image.spinner {
    margin-top: 0.5em;
    min-height: 2rem;
  }
}
