@use "sass:string";
@use "./base.scss" as *;
@use "./bar.scss";
@use "./calendar.scss";
@use "./notification-popups.scss";
@use "./polkit.scss";
@use "./lockscreen.scss";
@use "./appmenu.scss";
@use "./dashboard.scss";

window {
  font: 11pt Inter;
}

.notification {
  @extend .module;

  .header {
    @extend .horizontalSpacer;
    padding: 0.3em;
    color: gtkalpha(css("@theme_fg_color"), 0.5);

    .app-icon {
      -gtk-icon-size: 2rem;
    }

    .app-name {
      font-weight: bold;
    }

    button {
      min-width: 0;
      min-height: 0;
    }
  }

  separator {
    margin: 0 0.2em;
    background-color: gtkalpha(css("@theme_fg_color"), 0.1);
  }

  .content {
    padding: 0.8em;
    padding-top: 0.4rem;

    .vertical {
      .summary {
        font-size: 1.2em;
        color: css("@theme_fg_color");
      }

      .body {
        color: gtkalpha(css("@theme_fg_color"), 0.8);
      }
    }

    .icon {
      -gtk-icon-size: 4em;
      border: 0.1em solid gtkalpha(css("@theme_fg_color"), 0.02);
      margin-right: 0.4em;
    }
  }

  .actions {
    @extend .horizontalSpacer;
  }
}
